:root { 
--gray_700:#545454; 
--gray_400:#afafaf; 
--gray_500:#a7a7a7; 
--blue_gray_100:#d9d9d9; 
--pink_900:#73000a; 
--blue_gray_100_01:#d4d3df; 
--gray_900:#1e1e1e; 
--gray_900_01:#231f20; 
--gray_200:#ececec; 
--gray_100:#f2f2f7; 
--black_900:#000000; 
--gray_400_75:#c7c7c775; 
--white_A700:#ffffff; 
--black_900_05:#00000005; 
}